extends layout

block content
  #wrapper-about
    #about-me-container.container
      .content
        .title
          h2 My first OS Installation
        img.image-full(src='/images/JAMM_KID.jpg')
        .title
        h2
        i  Curriculum Vitae
        embed.pdfContainer(src='/files/Resume_PublicVersion.pdf', type='application/pdf')
