extends layout

block content
  h1 Projects
  .projectsContainer
    each item in projects
      .projectCell
        img.thumbnail.orangeBorder(src='projects/' + item + '/thumbnail.png')
        a(href='projects/' + item + '/index.html')
          h4= item
