doctype html
//
  Design by TEMPLATED
  http://templated.co
  Released for free under the Creative Commons Attribution License
  Name       : Fervency
  Description: A two-column, fixed-width design with dark color scheme.
  Version    : 1.0
  Released   : 20131006
  Modified, Modernised and Adapted by: John. A. McMenemy
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0')
  title= title
  meta(name='keywords' content='')
  meta(name='description' content='')

  // Stylesheets
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet')
  link(href='/stylesheets/fontawesome/css/all.css' rel='stylesheet' type='text/css' media='all')
  link(href='/stylesheets/default.css' rel='stylesheet' type='text/css' media='all')

  // Icon links
  link(rel="icon", type="image/png", sizes="192x192", href="/images/favicon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
body
  #header-wrapper
    #header.container
      #logo
        span.fa.fa-fire
        h1
          a(href='/') John A. McMenemy
        span
          | "We cannot direct the winds, but we can adjust our sails"
      #menu
        ul
          li.current_page_item
            a(href='/' accesskey='1' title='') Homepage
          li
            a(href='/about' accesskey='3' title='') About Me
          li
            a(href='/#portfolio' accesskey='2' title='') Projects
          li
            a(href='#footer' accesskey='5' title='') Contact Me
  block content
  #wrapper-footer
    #footer.container
      div
        header.title
          h2 Get in touch
          span.byline Find me on these sites!
        ul.contact
          li
            a.fab.fa-github(href='https://github.com/TheCrescentKing', target='_blank', alt="GitHub")
              span GitHub
          li
            a.fab.fa-linkedin(href='https://www.linkedin.com/in/mcmenemy-john/', target='_blank', alt="LinkedIn")
              span LinkedIn
  #copyright
    p
      | &copy; John A. McMenemy. All rights reserved.
      |  | Design by
      a(href='http://templated.co' rel='nofollow', target="_blank")  TEMPLATED
      | .
