extends layout

block content
  #wrapper-about
    #project-details.container
      .title
        h2= projectName
      if data.hasVideo
        iframe.video-frame(width="560", height="315", src= data.videoLink , frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
      else
        img.image-full(src='/projects/' + projectName + '/thumbnail.png')
      .content
        .title
          h2 About
        p!= data.about
        .project-links
          a.button(href='https://github.com/j-a-m-m/' + data.repo, target='_blank') GitHub Link
          if data.hasHTMLIndex
            a.button(href='/projects/' + projectName + '/index.html') Try the website!
