extends layout

block content
  #wrapper-about
    #project-details.container
      .title
        h2= projectName
      img.image-full(src='/projects/' + projectName + '/thumbnail.png')
      .content
        .title
          h2 About
        p= data.about
        .project-links
          a.button(href='https://github.com/j-a-m-m/' + data.repo, target='_blank') GitHub Link
          if data.hasIndex
            a.button(href='/projects/' + projectName + '/index.html') Try the website!
