html {
  width: 100%;                    /* 100% width of parent (root) element */
  height: 100vh;                  /* 100% height of viewport */
  background: rgb(0, 0, 0, 0.9);  /* 10% opacity black (very dark gray) */
  font-size: 1.0em;               /* root font size */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; /* Default font choice */
  color: white;                   /* Default font colour */
}

body {
  margin: 0;                      /* no margin at edge of content */
  height: 100%;                   /* 100% height of parent (html) element */
}

div.container {
  min-height: 25rem; /* mainbody height never squishes < 25rem */
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [left] 10rem auto 10rem [right];
  grid-template-rows: 5rem auto 5rem;
  grid-template-areas:
    "head head head"
    "panleft mainbody panright"
    "foot foot foot";
}

div.header {
  background: rgb(0, 0, 0, 0.2);                             /* 20% black */
  grid-area: head;                /* head corresponds to name in template */
  text-align: center;
}
div.footer {
  background: rgb(0, 0, 0, 0.2);
  grid-area: foot;
}
div.panel {                            /* div elements with "panel" class */
  background: rgb(0, 0, 0, 0.1);                             /* 10% black */
}
div.panel.left {                    /* with both "panel" and "left" class */
  grid-area: panleft;
}
div.panel.right {
  grid-area: panright;
}
div.mainbody {
  grid-area: mainbody;
  width: 50rem; /* mainbody width is fixed preventing body content from reflowing */
  justify-self: center; /* and always in the center */
  text-align: center;
}

@media screen and (max-width: 50rem){ /* If viewport width < 50rem */
  div.panel.left{
    grid-column-end: left; /* Left panel stops at left edge */
  }
  div.panel.right{
    grid-column-start: right; /* Right panel starts at right edge */
  }
  div.panel{
    display: none; /* Hide the panels because screen is too small */
  }
  div.mainbody{
    grid-column-start: left; /* have the main panel take all the horizontal space */
    grid-column-end: right;  /* That the panels no longer occupty */
  }
}

#logo{
  height: 100%;
  width: auto;
}

/* index page css */

.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.projectCell{
  width: 15rem;
  height: auto;
  flex-grow: 1;
}

.thumbnail{
  width: inherit;
  height: auto;
  display:inline-block;
  margin:0;
  vertical-align:top;
}

.orangeBorder{
  border: 0.3rem groove #B57A00;
}

.projectContainer{
  display: flex;
  flex-direction: column;
}

.projectContainer p{
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
}

.projectImg{
  object-fit: contain;
}
